certifi==2022.6.15
charset-normalizer==2.1.0
coloredlogs==15.0.1
humanfriendly==10.0
idna==3.3
jsonschema==4.6.1
inflect==5.6.0
PlexAPI==4.11.2
pyreadline3==3.4.1
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
urllib3==1.26.11
