babelfish==0.6.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
colorama==0.4.4
coloredlogs==15.0.1
guessit==3.4.1
humanfriendly==10.0
idna==3.3
inflect==5.3.0
PlexAPI==4.7.2
pyreadline==2.1
pyreadline3==3.3
python-dateutil==2.8.2
PyYAML==6.0
rebulk==3.1.0
requests==2.26.0
ruamel.yaml==0.17.17
six==1.16.0
soupsieve==2.3
tqdm==4.62.3
urllib3==1.26.7
websocket-client==1.2.1
yamale==4.0.2
