[Unit]
Description=One-shot execution of Plex to Anilist tracking sync

[Service]
Type=oneshot
User=YOUR_USER
Group=YOUR_USER
WorkingDirectory=YOUR_PLEXANYSYNC_FOLDER_PATH
ExecStart=$POETRY_HOME/bin/poetry python /YOUR_PLEXANYSYNC_FOLDER_PATH/sync.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
