[Unit]
Description=One-shot execution of Plex to Anilist tracking sync

[Service]
Type=oneshot
User=YOUR_USER
Group=YOUR_USER
WorkingDirectory=YOUR_PLEXANYSYNC_FOLDER_PATH
ExecStart=/usr/bin/python3 /YOUR_PLEXANYSYNC_FOLDER_PATH/PlexAniSync.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
