name: CI

on:
  push:
    branches: [ master ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
    paths-ignore:
      - '.github/**'
      - '.gitattributes'
      - '.gitignore'
      - '**/*.md'
      - 'LICENSE'
      - 'renovate.json'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.ref_name }} 
  cancel-in-progress: true

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install pipenv
        pipenv install --deploy --dev
    - name: Setup flake8 annotations
      uses: rbialon/flake8-annotations@v1
    - name: Add pylint annotator
      uses: pr-annotators/pylint-pr-annotator@v0.0.1
    - name: Lint with flake8 and pylint
      run: |
        pipenv run flake8 .
        pipenv run pylint PlexAniSync.py TautulliSyncHelper.py ./plexanisync || pipenv run pylint-exit --error-fail --warn-fail $?
    - run: pipenv run pytest
        
  build-docker-plexanisync:
    needs: lint-and-test
    uses: ./.github/workflows/build-docker-image.yml
    with:
      dockerfile: ./Docker/PlexAniSync/Dockerfile
      imagename: ${{ github.repository_owner }}/plexanisync
      eventname: ${{ github.event_name }}
      platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
    secrets: inherit
          
  build-docker-tautulli:
    needs: build-docker-plexanisync
    uses: ./.github/workflows/build-docker-image.yml
    with:
      dockerfile: ./Docker/Tautulli/Dockerfile
      imagename: ${{ github.repository_owner }}/tautulli-plexanisync
      eventname: ${{ github.event_name }}
      platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
    secrets: inherit
